<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="alert alert-success p-xxs m-b-none">
                <h3 class="m-b-none">USD/BTC <span class="text-navy">2873.09 | 73.5</span></h3>
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
                <div class="stat-percent font-bold text-navy">6% <i class="fa fa-level-up"></i></div>
                <small>Last 24h</small>
            </li>
            <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    Language
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                    <li><a ng-click="changeLanguage('en')">English</a></li>
                    <li><a ng-click="changeLanguage('es')">Spanish</a></li>
                </ul>
            </li>
            <li>
                <a ui-sref="login" ng-click="main.logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>