<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div class="animated fadeIn" ng-controller="dashboardCtrl as dCtrl">
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-3 b-r">
                    <h2>{{ 'WELCOME' | translate }} {{currentUser.name}}</h2>
                    <small>{{ 'MESSAGEINFO' | translate }}</small>
                    <div class="m-t-md m-b-md">
                        <h4>Main Balance</h4>
                        <div class="">
                            <h2 class="no-margins">{{currentUser.defaultCurrency}} {{currentUser.mainBalance ? currentUser.mainBalance : 0}}</h2>
                        </div>
                    </div>
                    <div class="m-t-md m-b-md">
                        <h4>Available Margin for Trading</h4>
                        <div class="">
                            <h3 class="no-margins">{{currentUser.defaultCurrency}} {{currentUser.availableMargin ? currentUser.availableMargin : 0}}</h3>
                        </div>
                    </div>
                    <hr ng-show="currentUser.holdings.length != 0">
                    <div class="" ng-show="currentUser.holdings.length != 0">
                        <div class="">
                            <!--<span class="label label-success pull-right">Monthly</span>-->
                            <h4>My Holdings</h4>
                        </div>
                        <div class="" ng-repeat="(key, holding) in currentUser.holdings">
                            <h3 class="no-margins">{{key}} {{holding.quantity}}</h3>
                            <div class="stat-percent font-bold text-navy">6% <i class="fa fa-level-up"></i></div>
                            <small>~ {{currentUser.defaultCurrency}} {{holding.quantity * dCtrl.depth.lastTrade.price | number : 2}} @ {{key}} 1 = {{currentUser.defaultCurrency}} {{dCtrl.depth.lastTrade.price}}</small>
                        </div>
                        <!--<div class="m-t">-->
                            <!--<h3 class="no-margins">ETH 1.004</h3>-->
                            <!--<div class="stat-percent font-bold text-navy">4% <i class="fa fa-level-up"></i></div>-->
                            <!--<small>~ USD {{1.004 * 300}} @ ETH 1 = USD 300</small>-->
                        <!--</div>-->
                    </div>
                    <hr>
                    <div class="m-t-md">
                        <h4>Net worth</h4>
                        <div class="">
                            <h3 class="no-margins" ng-init="networth=networth(currentUser, {})">~USD {{networth | number}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!--<div class="flot-chart dashboard-chart" ng-controller="dashboardFlotOne as chart">-->
                    <!--<div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions"></div>-->
                    <!--</div>-->
                    <!--<highchart id="chart1" config="dCtrl.chartConfig"></highchart>-->
                    <div hc-stock-chart chart-config="dCtrl.chartConfig"></div>
                    <div class="row">
                        <div class="col-xs-4 text-center b-r">
                            <div class=" ">
                                <span class="h4 font-bold m-t block">$ {{dCtrl.depth.lastTrade.price | number : 2}}</span>
                                <small class="text-muted m-b block">Current Price</small>
                            </div>
                        </div>
                        <div class="col-xs-4 b-r">
                            <div class="col-xs-6">
                                <span class="h4 font-bold m-t block  pull-right">$ {{dCtrl.depth.asks[0].price | number : 2}}</span>
                                <small class="text-muted m-b block  pull-right">Buy Price</small>
                            </div>
                            <div class="col-xs-6 m-t-md">
                                <button class="btn btn-primary"
                                        ng-click="dCtrl.openBuyOrSell('BUY', dCtrl.depth, 'lg')">Buy
                                </button>
                            </div>

                        </div>
                        <div class="col-xs-4">
                            <div  class="col-xs-6">
                                <span class="h4 font-bold m-t block  pull-right">$ {{dCtrl.depth.bids[0].price | number : 2}}</span>
                                <small class="text-muted m-b block  pull-right">Sell Price</small>
                            </div>
                            <div  class="col-xs-6 m-t-md">
                                <button class="btn btn-danger"
                                        ng-click="dCtrl.openBuyOrSell('SELL', dCtrl.depth, 'lg')">Sell
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Depth - BTC</h5>
                                        <button class="btn btn-xs btn-white pull-right"
                                                ng-click="dCtrl.refreshDepthNow()"><span
                                                class="fa fa-refresh"></span></button>
                                        <small class="pull-right m-r-xs m-t-xs"
                                               am-time-ago="dCtrl.depth.lastChecked"></small>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="m-b-md">
                                            <!--<h3>Depth Chart</h3>-->
                                            <div class="flot-chart">
                                                <div flot class="flot-chart-content" dataset="dCtrl.depthPieChartData"
                                                     options="dCtrl.depthPieChartOptions"
                                                     callback="dCtrl.depthChartCallback"></div>
                                            </div>
                                            <!--<div hc-chart chart-config="dCtrl.depthChartConfig"></div>-->
                                        </div>
                                        <p>Last Trade: BTC {{dCtrl.depth.lastTrade.quantity}} @ USD
                                            {{dCtrl.depth.lastTrade.price}}</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table class="table table-striped col-sm-5">
                                                    <thead>
                                                    <tr>
                                                        <th>Bid Size</th>
                                                        <th>Bid</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="bid in dCtrl.depth.bids">
                                                        <td>{{bid.quantity}}</td>
                                                        <td>{{bid.price}}</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>{{dCtrl.depth.bidQuantityTotal}}</th>
                                                        <th>Total</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                            <div class="col-sm-6">
                                                <table class="table table-striped col-sm-5">
                                                    <thead>
                                                    <tr>
                                                        <th>Ask</th>
                                                        <th>Ask Size</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="ask in dCtrl.depth.asks">
                                                        <td>{{ask.price}}</td>
                                                        <td>{{ask.quantity}}</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th>{{dCtrl.depth.askQuantityTotal}}</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="ibox float-e-margins">
                                    <!--<div class="ibox-title">-->
                                    <!--</div>-->
                                    <div class="ibox-content">
                                        <uib-tabset>
                                            <uib-tab heading="Order Book (Last 10)">
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Symbol</th>
                                                            <th>Buy/Sell</th>
                                                            <th>Type</th>
                                                            <th>Qty.</th>
                                                            <th>Pending Quantity</th>
                                                            <th>Traded Quantity</th>
                                                            <th>Price</th>
                                                            <th>Value</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="o in dCtrl.recentTradeOrders">
                                                            <td>{{o.id}}</td>
                                                            <td>{{o.symbol}}</td>
                                                            <td>{{o.side}}</td>
                                                            <td>{{o.type}}</td>
                                                            <td>{{o.quantity}}</td>
                                                            <td>{{o.pendingQuantity}}</td>
                                                            <td>{{o.tradedQuantity}}</td>
                                                            <td>{{o.price}}</td>
                                                            <td>{{o.value}}</td>
                                                            <td>{{o.status}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <button ui-sref="trades.order_book"
                                                            class="btn btn-default pull-right">See All
                                                    </button>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Trade Book (Last 10)">
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Bid By</th>
                                                            <th>Bid Trade Order</th>
                                                            <th>Ask By</th>
                                                            <th>Ask Trade Order</th>
                                                            <th>Qty.</th>
                                                            <th>Price</th>
                                                            <th>Value</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="o in dCtrl.recentTrades">
                                                            <td>{{o.id}}</td>
                                                            <td>{{o.bidById}}</td>
                                                            <td>{{o.bidTradeOrderId}}</td>
                                                            <td>{{o.askById}}</td>
                                                            <td>{{o.askTradeOrderId}}</td>
                                                            <td>{{o.quantity}}</td>
                                                            <td>{{o.price}}</td>
                                                            <td>{{o.value}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <button ui-sref="trades.trade_book"
                                                            class="btn btn-default pull-right">See All
                                                    </button>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'views/common/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->