<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Order</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="place_order_form" novalidate class="form-inline p-h-xs border-bottom">
            <!--<h3 class="m-t-none m-b">Order</h3>-->
            <div class="form-group">
                <label for="side">Buy/Sell</label>
                <select id="side" ng-model="order.side" required
                        ng-class="(order.side=='BUY' ? 'bg-primary' : (order.side=='SELL') ? 'bg-danger' : '' ) + ' form-control'">
                    <option class="badge-white text" value="">Select</option>
                    <option class="white-bg text-navy" value="BUY">BUY</option>
                    <option class="white-bg text-danger" value="SELL">SELL</option>
                </select>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-2 form-group">
                        <label for="symbol">Symbol</label>
                        <select id="symbol" ng-model="order.symbol" class="form-control">
                            <option value="BTC">BTC</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Qty</label>
                        <input type="number" ng-model="order.quantity" name="quantity" min="0.1" placeholder="0" class="form-control">
                        <div class="m-t-xs" ng-show="place_order_form.quantity.$invalid && place_order_form.submitted">
                            <small class="text-danger" ng-show="place_order_form.quantity.$error.required">Please input quantity</small>
                            <small class="text-danger" ng-show="place_order_form.quantity.$error.min">Quantity can't be less than {{0.1}}</small>
                            <small class="text-danger" ng-show="place_order_form.quantity.$error.max">Quantity can't be more than {{1000}} </small>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Type</label>
                        <select ng-model="order.type" class="form-control">
                            <option value="LIMIT">Limit</option>
                            <option value="MARKET">Market</option>
                            <option value="STOP_LOSS">Stop Loss</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group"><label>Price</label>
                        <input type="number" ng-model="order.price" step="0.5" min="0" placeholder="0"
                               class="form-control">
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6 b-r">
                <h3>Depth</h3>
                <div class="col-sm-6">
                    <table class="table table-striped col-sm-5">
                        <thead>
                        <tr>
                            <th>Bid Size</th>
                            <th>Bid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bid in depth.bids">
                            <td>{{bid.quantity}}</td>
                            <td>{{bid.price}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{{depth.bidQuantityTotal}}</th>
                            <th>Total</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="col-sm-6">
                    <table class="table table-striped col-sm-5">
                        <thead>
                        <tr>
                            <th>Ask</th>
                            <th>Ask Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ask in depth.asks">
                            <td>{{ask.price}}</td>
                            <td>{{ask.quantity}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th>{{depth.askQuantityTotal}}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
        <div class="col-md-6">
            <h3>Limits</h3>
            <h5><strong>Available Margin For Trading:</strong></h5>
            <small>USD {{currentUser.availableMargin ? currentUser.availableMargin : 0}}</small>
            <hr>
            <h2>Total</h2>
            <h1>USD {{order.price*order.quantity}}</h1>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button ladda="loadingAddToBasket" class="btn btn-success btn-outline" type="submit" ng-click="addToBasket()">-->
    <!--Add to Basket-->
    <!--</button>-->
    <button class="btn btn-default" type="submit" ng-click="reset()">Reset</button>
    <button ladda="loadingPlaceOrder"
            ng-class="(order.side=='BUY' ? 'btn-primary' : (order.side=='SELL') ? 'btn-danger' : 'btn-default' ) + ' btn'"
            data-style="zoom-in" type="submit" ng-click="placeOrder()">Place Order
    </button>
</div>
</div>