<div ng-init="o = tradeOrder" style="padding-left: 50px;">
    <div class="col-sm-3">
        <dl class="dl-horizontal">
            <dt>ID:</dt>
            <dd>{{o.id}}</dd>
            <dt>Symbol:</dt>
            <dd>{{o.symbol}}</dd>
            <dt>Buy/Sell:</dt>
            <dd>{{o.side}}</dd>
            <dt>Type:</dt>
            <dd>{{o.type}}</dd>
            <dt>Qty:</dt>
            <dd>{{o.quantity}}</dd>
            <dt>Pending Qty:</dt>
            <dd>{{o.pendingQuantity}}</dd>
        </dl>

    </div>
    <div class="col-sm-3">
        <dl class="dl-horizontal">
            <dt>Price:</dt>
            <dd>{{o.price}}</dd>
            <dt>Value:</dt>
            <dd>{{o.value}}</dd>
            <dt>Status:</dt>
            <dd>{{o.status}}</dd>
            <dt>Validity:</dt>
            <dd>{{o.validity}}</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="dl-horizontal">
            <dt>Trigger Price:</dt>
            <dd>{{o.triggerPrice}}</dd>
            <dt>Remarks:</dt>
            <dd>{{o.remarks}}</dd>
            <dt>Placed By:</dt>
            <dd>{{o.placedBy}}</dd>
            <dt>Placed At:</dt>
            <dd>{{o.created|date : 'medium'}}</dd>
            <dt>Disclosed Qty:</dt>
            <dd>{{o.disclosedQuantity}}</dd>
            <dt>Traded Qty:</dt>
            <dd>{{o.tradedQuantity}}</dd>
        </dl>
    </div>

</div>